<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.20.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="TestStack.Dossier" version="3.1.0" targetFramework="net45" />
</packages>